@import "./_variables";

.project_title {
    font-size: 1.4em;
    color: #ccc;

    strong {
      font-weight: normal;
      color: $brand-primary;
    }
}

section {
  margin-top: 3em;
  margin-bottom: 3em;
}

.project-navigation {
  display: flex;
  margin: 5em auto;

  a.btn {
    width: 50%;
    font-size: 1.4em;
    color: $text-color;
    margin: 0;
    padding: 0;
    transition: color .2s;

    &:hover {
      color: $brand-primary;
    }

    span {
      border-bottom: 2px solid $brand-primary;
    }
  }

  .prev-btn::before {
    content: "‹ ";
    color: $brand-primary;
    font-size: 1.4em;
    border-bottom: none !important;
  }

  .next-btn {
   text-align: right;

    &::after {
      content: " ›";
      color: $brand-primary;
      font-size: 1.4em;
    }
  }
}


.flex-grid .column-third {
    width: 33%;
    text-align: center;
    margin-bottom: 0;
    height: auto;
}
